<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="logo.png" class="logo me-2" style="height:40px;" />
            <div>Employee Manager</div>
        </a>
    </div>
</div>

<!-- Navbar Toggler for mobile (optional) -->
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!-- Scrollable Nav -->
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="employees">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="departments">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Departments
            </NavLink>
        </div>
    </nav>
</div>
